<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div>
                <form action="/animals/" method="POST">
                    <fieldset>
                        <legend>Add An Animal</legend>
                        <label>
                            SPECIES:<input type="text" name="species" placeholder="Enter an animal species" />
                        </label>
                        <label>
                            EXTINCT:<input type="checkbox" name="extinct" />
                        </label>
                        <label>
                            LOCATION:<input type="text" name="location" placeholder="Location" />
                        </label>
                        <label>
                            LIFEEXPECTANCY:<input type="number" name:="lifeExpectancy" placeholder="Enter a number" />
                        </label>
                    </fieldset>
                        <input type="submit" value="Add An Animal" />
                </form>
            </div>
        </main>
    </body>
</html>